<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2021 SiMul research group. </p>
              <p>We are part of the <a href="http://www.cran.univ-lorraine.fr/francais/themes_rech/biosis/index.php">BioSiS department</a> at <a href="http://www.cran.univ-lorraine.fr/">CRAN, Nancy</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Funding:
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Faculté des Sciences et technologies<br />
		  Bât. 1er cycle 4e étage<br />
		  Campus Sciences BP 70239 <br />
		  54506 Vandoeuvre-lès-Nancy, France <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
